
.coin {
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: top;
  /*! margin-right: -4px; */
  margin-left: 15px;
  margin-top: 5px;
}



#interface, #menu {
  display: inline-block;
  border: 1px dotted black;
  padding: 10px;
  vertical-align: top;
}

#interface {
  vertical-align: top;
  width: 50%;
  border: 1px dotted black;
  text-align: center;
}

#menu .programme{
  width: 90px;
  height: 90px;
  color: black;
  font-size: 2em;
  border-radius: 8px outset;
  box-shadow: 2px 2px 0px 0px white;
}

#menu .messageMachine {
  display: inline-block;
  border: 1px black dotted;
  width: 255px;
  text-align: center;
  background-color: gray;
  color: white;
  font-family: arial;
  /*! line-height: 70px; */
  margin-bottom: 10px;
  padding: 10px;
}

#menu #paveNumerique .check {
  background: url("../images/check.png") no-repeat center;
}
#menu #paveNumerique .cancel {
  background: url("../images/cancel.png") no-repeat center;
}

#userMoney {
  display: inline-block;
  width: 200px;
  vertical-align: bottom;
}
